body {
  font-family: sans-serif;
}

.connect {
  height: 300px;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connectBtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #4caf50;
  transition: background-color 0.3s, color 0.3s;
}

.connectBtn:hover {
  background-color: #45a049;
  color: #fff;
}

.connection-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: wrap;
}

.account {
  overflow: hidden;
  word-wrap: break-word;
  width: 250px;
  color: gray;
}
